/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 12, 2015, 10:35:59 AM
    Author     : jones.tim
*/

@import url('http://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Open+Sans:400,600,700'); 

body {
	font-family:'Open Sans', Arial, sans-serif;
	font-size:14px;
	font-weight:300;
	line-height:1.6em;
}

a:active {
	outline:0;
}

.clear {
	clear:both;
}

h1,h2, h3, h4, h5, h6 {
	font-family:'Open Sans', Arial, sans-serif;
	font-weight:700;
        color: #525252;
	line-height:1.1em;
	margin-bottom: 20px;
}
 
.container {
	padding:0 20px 0 20px;
	position:relative;
}

.navbar-default {
  background-color: #225050;
  border-color: #0b8181;
  //text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}
.navbar-default .navbar-brand {
  color: #e6e6e6;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #e6e6e6;
}
.navbar-default .navbar-nav > li > a {
  color: #e6e6e6;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #225050;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #e6e6e6;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: #0b8181;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #225050;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #0b8181;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #0b8181;
}
.navbar-default .navbar-toggle {
  border-color: #0b8181;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #0b8181;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #e6e6e6;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e6e6e6;
}
.navbar-default .navbar-link {
  color: #e6e6e6;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

header .navbar-collapse  ul.navbar-nav {
    float: right;
    margin-right: 0;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #e6e6e6;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #0b8181;
  }
}

